:root {
    --ct-smoky-black: #0b0a07;
    --ct-numbers: #cecece;
    --ct-signs: #cb7e7e;
    --ct-flax: #E3D87E;
    --ct-icterine: #F0EC57;
    --ct-numix: #d64937;
    --ct-dark-grey: #313131;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ct-dark-grey);
}

.frame {
    width: 22rem;
    height: 35rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--ct-smoky-black);
    color: var(--ct-numbers);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display {
    height: 15%;
    width: 19.2rem;
    display: block;
    text-align: right;
    background-color: var(--ct-flax);
    color: var(--ct-smoky-black);
    padding: 0.5rem;
    font-size: 2rem;
}

#history {
    height: 40%;
    color: var(--ct-dark-grey);
    font-size: 1.6rem;
}

#display {
    height: 60%;
}

#history, #display {
    width: 100%;
}

.container-buttons {
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

button {
    height: 4.85rem;
    width: 4.85rem;
    font-size: 1.5rem;
    border-radius: 0;
    border-style: none;
    /* font-weight: bold; */
    background-color: var(--ct-numbers);
}

.function-btn, .sign-btn {
    font-weight: bolder;
}

.function-btn {
    background-color: var(--ct-numix);
}

.sign-btn {
    background-color: var(--ct-signs);
}

button:hover {
    background-color: var(--ct-icterine);
    font-weight: bolder;
}